::-webkit-scrollbar{
    display: none;
}
.back-img-login{
    height: 100%;
    width: 100%;
    background-image: url(../../../public/images/login/login.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-login{
    height: 100px;
    width: 100px;
    background-image: url(../../../public/logo/logo_color.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}