::-webkit-scrollbar{
    display: none;
}

.back-home{
    height: 93vh;
    width: 100%;
    background-image: url(/images/home/home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        width: 150px;
        height: 150px;
        margin-bottom: 200px;
    }
}

.text-home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
